.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.venv
.vscode
poetry.lock
**/*.mp4
**/*.wav
**/*.jpg
**/*.png
**/__pycache__
**/*.pt
**/*.log
**/*.csv
**/*.zip
**/*.txt
**/*.gz
**.ipynb
**/creativesutils.py